.contact {
  .info-cards {
    margin:40px 0;
  }

 
    .quotes {
      margin:50px 0;
  
}

.hp {
  display:none;
}

}

#contact-form {
  border-radius:10px;
  background:#FFF;
  border:1px solid #eaeaea;
  padding:20px;
}