@use '../base/variables' as *;

header.primary {
  background:$dark2;
 border-bottom:1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
  0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  padding-right:10px;
  padding-left:20px;
  position: relative; /* or fixed/sticky if needed */
  .brand {
   img {
    max-width:200px;
   }
  }

  nav {
    margin:20px 0 0 0;
    > div {
      margin-right:15px;
      &:last-child {margin-right:0;}
    }
    a {
     color:$light3;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font1;
    font-weight: 400;
      font-size: 1.1rem;
     padding:5px;
      border-bottom: 5px solid transparent;

      &.active {
        border-bottom: 5px solid $light5;
      }

      &:hover {

        border-bottom: 5px solid $light2;
      }
    }
  }

}

  .topbar {
    margin-top:10px;
    font-size:.9rem;
      span {
        border-right:1px solid #CCC;
        margin-right:10px;
        padding-right:10px;
        opacity:.8;
        &:hover {opacity: 1;}
        &:last-child {
          border-right:none;
          margin-right:0;
          padding-right:0;
        }
        a {color:$light4; font-weight:bold; padding:5px;}
      }
  }