---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Thanks">
  <div class="wrapper">
    <section class="center" style="padding:2rem 0;">
      <h1>Thanks for getting in touch! ✅</h1>
      <p>We’ve received your message and will reply as soon as we can.</p>
      <p><a class="btn" href="/">Return home</a></p>
    </section>
  </div>
</Layout>
