<section class="hero-3">
		<div class="wrap">
			<h3 class="m-txt txt-center">Proudly showcasing projects created by Townsville men from backgrounds and experiences.</h3>
		<div class="projects">
			<div class="item">
				<div class="overlay grid center-center">
					<div>
						<h3>Arm Chair Restored</h3>
						<div class="credit">
							Project by
							<span>Gavin McGill</span>
						</div>
					</div>
				</div>
			</div>
			<div class="item">2</div>
			<div class="item">3</div>
			<div class="item">4</div>
			<div class="item">5</div>
			<div class="item">6</div>
			<div class="item">7</div>
			<div class="item">8</div>
			<div class="item">9</div>
		</div>

			<div class="grid align-center gap">
				<div class="l-8 m-8 s-12">
					<a href="/contact">Got a project idea? We'd love to hear from you!</a>
				</div>
				<div class="l-4 m-4 s-12 grid content-end">
					<a href="/projects" class="btn btn-delta">Discover more projects</a>
				</div>
			</div>
		</div>
	</section>