---
import Layout from '../../layouts/Layout.astro';
//import SponsorTierSlide from '../../components/SponsorTierSlide.astro';
//import SponsorWall from '../../components/support/SponsorWall.astro';
//import SupportBanner from '../../components/SupportBanner.astro';
---

<Layout title="Sponsor the Shed">
  <div class="wrapper support">
   

    <div class="spacer"></div>
    
<div class="spacer"></div>
   
<div class="spacer"></div>
  </div>
</Layout>
