---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<section class="hero align-center grid">
		<div class="wrap">
		<div class="l-6 m-6 s-6">
			<h1 class="l-txt-x">Men's Shed Townsville is a not-for-profit community organisation dedicated to supporting the health and wellbeing of adult men.</h1>
		<div class="statistic grid">
			<div class="figure"><span>350</span> Members</div>
			<div class="figure"><span>10</span> Mentors</div>
			<div class="figure"><span>4</span> Workshops</div>
		</div>

	</div>
		<div class="l-6 m-6 s-6">
		<div class="graphical-elements">
			<div class="item-s"></div>
			<div class="item-m"></div>
			<div class="item-l"></div>
		</div>
		</div>
		</div>
	</section>
 
	<section class="hero-1 grid align-center">
		<div class="l-6 m-6 s-12">
			<picture class="left-angle">
				<img src="https://placehold.co/600x400"/>
			</picture>
		</div>

		<div class="l-6 m-6 s-12 grid">
		<div class="wrap">
		<h2 class="l-txt">Townsville Men's Shed provides
				a supportive environment for
				men to participate in practical
				activities, build friendships, and
				foster a sense of purpose
				through project work, training,
				and lifelong learning."</h2>
		<p class="m-txt">We provide well-equipped machines and ample workspace
			to accommodate a variety of projects and skill levels.</p>
		</div>
	</div>

	</section>

	<section class="hero-2 grid align-center">
		<div class="wrap">
		<h2 class="l-txt">We offer fully equipped workspaces with tools and
			machinery for both woodwork and metalwork projects.</h2>
			<div class="btn-group">
			<a href="/membership" class="btn md-txt btn-alpha">Yearly Membership</a>
			<a href="/contact" class="btn md-txt btn-delta">Visit us to learn more</a>
			</div>
		</div>
	</section>



	<section class="hero-3 grid">
		<div class="l-7 m-7 s-12">sdf</div>	
		
		<div class="l-5 m-5 s-12 center-center grid">
			<div>
			<h4 class="l-txt">How to support us</h4>
				<p class="m-txt">Townsville men generously volunteer their time and expertise to
					support local community projects — and they’re seeking your support
					to continue making a difference.</p>
				<a href="/support" class="btn s-txt btn-delta">Learn how to support us</a>
		</div>
		</div>
	</section>

	<section class="hero-5">
		<div class="wrap grid">
			<div class="l-6 m-6 s-12">
				<h4 class="l-txt">Thinking about joining Men's Shed Townsville? We'd love to have you!</h4>
				<p style="padding-right: 20px;">Ready to build something great, share your experience, and connect with like-minded makers of all ages and backgrounds?</p>
				<a href="/membership" class="btn btn-alpha sm-txt">Join Men's Shed Townsville</a>
			</div>
			<div class="l-6 m-6 s-12">
			<h4 class="l-txt">New Members</h4>
			<p class="sm-txt">Welcome! Our volunteers update this list of new members every weekly.</p>

			<ul class="members-list">
				<li>Alan (Charles) Causon</li>
				<li>Vigor Darrington</li>
				<li>Mike Grigg</li>
				<li>Banjo (Wayne) Murray</li>
				<li>Devon Snell</li>
				<li>John Stutley</li>
				<li>Graeme Taylor</li>
				<li>Wayne Bromham</li>
			</ul>

				<p>Last updated: August 7, 2025</p>
			</div>


		</div>
	</section>
</Layout>