---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Legal Policy">
  <div class="wrapper">
  <h1>Legal Policy</h1>
  <p><strong>Effective Date:</strong> May 25, 2025</p>

   <p>Content for this is coming soon</p>
   </div>
 
</Layout>
