<div class="notification-banner hide">
    <div class="wrapper grid center-center">
       <div>
        <h3>Reminder</h3>
        <p><b>3 to 8 of July 2025</b>, Townsville City Council is hosting 2025 Super Car Racing Event and access to Men's Shed Townsville via Charters Towers Rd is close but accessible via Livingstone St </p>
    </div>
    </div>
</div>