---
import ProjectCard from "./ProjectCard.astro";
const { projects = [] } = Astro.props;
---

<div class="project-grid">
  {projects.map((p, i) => (
    <div class="project-card" data-project data-id={p.id}>
      <ProjectCard
        project={p}
        sponsorPrefix="Kickstarted by "
        priority={i < 4}   /* eager-load top cards; lazy-load the rest */
      />
    </div>
  ))}
</div>
