<div class="projects">
    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>

    <div class="item">
        <div class="overlay">
            <h3>Project Title</h3>
            <span>Project by <span class="user">William.T</span></span>
        </div>
    </div>
</div>