---

---
<div class="grid gap banner">
  <div class="l-8 m-8 s-12">
    <div class="crumpbet"><span><a href="/whats-on">What's on</a></span></div>
    <h1 class="l-txt">Social, Workshop & Fundraising Events</h1>
    <div class="statistic grid">
      <div class="figure"><span class="num">23K</span> <span class="label">Fund Raised</span></div>
      <div class="figure"><span class="num">130</span> <span class="label">Active Members</span></div>
      <div class="figure"><span class="num">22K</span> <span class="label">Volunteer Hours</span></div>
    </div>
 <p>JAN 2024 - SEPT 2025</p>
  </div>

  <div class="l-4 m-4 s-4">
    <div class="tipbox">
      <h3>How to support us</h3>
      <p>Local blokes volunteer their time and skills to help schools, clubs and neighbours. Your support keeps the tools turning and the doors open.</p>
      <a href="/support">Support the Shed, Donate or Sponsor, Ways to Help</a>
    </div>
  </div>

 
</div>
