// FONTS
$font1: 'lato', sans-serif;

// Image Paths
$assets-url: "/images";

// GRID
$gutter: 10px;
$gutters: 20px;

// LIGHT MODE
$light1: #00553d;
$light2: #5f853a;
$light3: #333;
$light4: #4b4b4b;
$light5: #78bb36;

// DARK MODE
$dark1: #1b1b1b;
$dark2: #FFF;
$dark3: #d6d6d6;